<div class='row'>
  <div class='columns large-24'>
    <p>
      Welcome to our super awesom website. Please
      <%= link_to 'register', signup_path %>
      and start using today!
    </p>
  </div>
</div>
